<body class="container d-flex justify-content-center align-items-center flex-column">
  <form action="/name" class="form-login">
    <svg class="bi" width="72" height="72" fill="currentColor" role="img" >
      <use xlink:href="./svg/bootstrap-icons.svg#chat-left-text"/>
    </svg>
    <input id="inputAutoDisabled" type="text" class="form-control-lg" name="name" placeholder="Введите имя">
    <button id="btnAutoDisabled" type="submit" class="btn btn-primary btn-lg" disabled>
      Вход
      <svg class="bi" width="32" height="32" fill="currentColor" role="img" >
        <use xlink:href="./svg/bootstrap-icons.svg#box-arrow-in-right"/>
      </svg>
    </button>
  </form>
</body>